<div ng-controller="autocomplete as ctrl" layout="column" ng-cloak>
	<md-content class="md-padding">
	<form ng-submit="$event.preventDefault()">
	<span class="fa fa-map-marker form-control-icon fa-2x"></span> 
		<md-autocomplete ng-disabled="ctrl.isDisabled"
			md-no-cache="ctrl.noCache" md-selected-item="ctrl.selectedItem"
			md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
			md-search-text="ctrl.searchText"
			md-selected-item-change="ctrl.selectedItemChange(item)"
			md-items="item in ctrl.querySearch(ctrl.searchText)"
			md-item-text="item.display" md-min-length="0"
			placeholder="Origin?"><md-item-template>
		<span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
		</md-item-template> <md-not-found> No states matching
		"{{ctrl.searchText}}" were found. <a
			ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a> </md-not-found> </md-autocomplete>

		<br />
	</form>
	</md-content>
</div>
