

<div id="carouselExampleIndicators" class="carousel slide"
	data-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img class="d-block w-100" src="content/images/bg/1.jpg"
				alt="First slide">
		</div>
		<div class="carousel-item">
			<img class="d-block w-100" src="content/images/bg/2.jpg"
				alt="Second slide">
		</div>
		<div class="carousel-item">
			<img class="d-block w-100" src="content/images/bg/3.jpg"
				alt="Third slide">
		</div>
	</div>
</div>




<div class="mainWrapper">
	<!-- NAV BAR -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#/">
			<img src="content/images/logo.png" class="logo" />
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">

			<div class="navbar-nav">
				<div class="dropdownCurrency">
					<a class="btn btn-primary btn-select btn-select-light">
						<input type="hidden" class="btn-select-input" id="" name=""
							value="" />
						<span class="btn-select-value" ng-model="currencyCoin">{{coinsAscii[currencyCoin]}}
							{{currencyCoin}}</span> <span class="btn-select-arrow"><i
							class="fa fa-chevron-down" aria-hidden="true"></i></span>
						<ul>
							<li ng-repeat="(key, value) in coinsAscii"
								ng-click="changeCurrency(key)">{{value}} {{key}} </span>
							</li>
						</ul>
					</a>
				</div>
				<a class="nav-item nav-link" href="#/">FAQ</a>
			</div>
		</div>
	</nav>
	<!-- END NAV BAR -->





	<div class="btn-group filterNav" role="group"
		ng-show="showFlightResults==true">

		<!-- Sort Popover -->
		<div class="btn-group sortNav" role="group">
			<button id="btnGroupDrop1" type="button"
				class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-sort" aria-hidden="true"></i> Sort
			</button>
			<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
				<a class="dropdown-item" href="#">
					<i class="fa fa-ils" aria-hidden="true"></i> {{coin}} By Price
				</a>
				<a class="dropdown-item" href="#">
					<i class="fa fa-fighter-jet" aria-hidden="true"></i> Best Metch
				</a>
			</div>
		</div>

		<!-- Budget Popover -->
		<div class="btn-group" role="group">
			<span budget-popover class="btn btn-secondary dropdown-toggle" coin="{{currencyCoin}}"
				data-toggle="popover" popover-placement="bottom">  </span>
		</div>

		<!-- Origin Popover -->
		<div class="btn-group" role="group">
			<span origin-popover class="btn btn-secondary dropdown-toggle"
				data-toggle="popover" popover-placement="bottom"> </span>
		</div>

		<!-- Persons Popover -->
		<div class="btn-group" role="group">
			<span persons-popover class="btn btn-secondary dropdown-toggle"
				popover-placement="bottom" data-toggle="popover"> </span>
		</div>

	</div>

	<div class='col personsPopover hide'>
		<div class='row adultsPassengers'>
			<p>Adults (16+)</p>
			<div class="col-xs-6 col-sm-3">
				<a class="btn btn-primary btn-select btn-select-light">
					<input type="hidden" class="btn-select-input" id="" name=""
						value="" />
					<span class="btn-select-value">{{adultPassengers}}</span><span
						class="btn-select-arrow"><i class="fa fa-chevron-down"
						aria-hidden="true"></i></span>
					<ul>
						<li ng-click="changePassengers(1,'adult')">1</li>
						<li ng-click="changePassengers(2,'adult')">2</li>
						<li ng-click="changePassengers(3,'adult')">3</li>
						<li ng-click="changePassengers(4,'adult')">4</li>
						<li ng-click="changePassengers(5,'adult')">5</li>
						<li ng-click="changePassengers(6,'adult')">6</li>
						<li ng-click="changePassengers(7,'adult')">7</li>
						<li ng-click="changePassengers(8,'adult')">8</li>
						<li ng-click="changePassengers(9,'adult')">9</li>
						<li ng-click="changePassengers(10,'adult')">10</li>
					</ul>
				</a>
			</div>
		</div>
		<div class='row childrensPassengers'>
			<p>Children (0-15)</p>
			<div class="col-xs-6 col-sm-3">
				<a class="btn btn-primary btn-select btn-select-light">
					<input type="hidden" class="btn-select-input" id="" name=""
						value="" />
					<span class="btn-select-value">{{childPassengers}}</span><span
						class="btn-select-arrow"><i class="fa fa-chevron-down"
						aria-hidden="true"></i></span>
					<ul>
						<li ng-click="changePassengers(1,'child')">1</li>
						<li ng-click="changePassengers(2,'child')">2</li>
						<li ng-click="changePassengers(3,'child')">3</li>
						<li ng-click="changePassengers(4,'child')">4</li>
						<li ng-click="changePassengers(5,'child')">5</li>
						<li ng-click="changePassengers(6,'child')">6</li>
						<li ng-click="changePassengers(7,'child')">7</li>
						<li ng-click="changePassengers(8,'child')">8</li>
						<li ng-click="changePassengers(9,'child')">9</li>
						<li ng-click="changePassengers(10,'child')">10</li>
					</ul>
				</a>
			</div>
		</div>
	</div>


	<!-- Main Form -->
	<div class="row">
		<div class="col-sm--12 offset-4 mainInput"
			ng-show="showFlightResults==false">

			<img src="content/images/logo.png" class="logo" />
			<div class="row">
				<div class="depart">
					<label>What's your home base?
						<div ng-include="'content/pages/autoCompleteCountries.html'"></div>
					</label>

				</div>
			</div>
			<div class="row">
				<div class="budget">
					<label>Total trip budget <input type="number" ng-model="budget" class="form-control" placeholder="1000" /> 
					<a class="btn btn-primary btn-select btn-select-light formCurrency">
							<input type="hidden" class="btn-select-input" id="" name="" value="" />
							<span class="btn-select-value" >{{coinsAscii[currencyCoin]}}</span>
							<span class="btn-select-arrow" ></span>
							<ul >
								<li ng-repeat="(key, value) in coinsAscii"
									ng-click="changeCurrency(key)">{{value}}</span>
								</li>
							</ul>
						</a>





					</label>
				</div>

				<div class="passengers">
					<label>Passengers Number</label> <span persons-popover
						class="btn btn-secondary dropdown-toggle" data-toggle="popover"
						popover-placement="bottom"><label>Passengers <i
							class="fa fa-users fa-2x" aria-hidden="true"></i>
					</label> </span>
				</div>







			</div>
			<!-- <div class="row">
			<div class="dates">
				<label>When will you be available? <md-content
						ng-controller="datePicker as ctrl" layout-padding ng-cloak>
					<div layout-gt-xs="row">
						<div flex-gt-xs>
							<md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"
								ng-change="changeDate(ctrl.myDate)" md-min-date="ctrl.minDate"
								md-max-date="ctrl.maxDate"></md-datepicker>

						</div>
					</div>
					</md-content> <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
				</label>
			</div>
		</div> -->
			<div class="row">
				<button type="button" class="btn btn-warning findATrip"
					ng-click="searchFlights()">Find a Trip!</button>
			</div>
		</div>
	</div>

	<!-- FLIGHTS RESULTS !!! -->
	<div ng-repeat="flight in flights | limitTo : 10 track by $index  "
		ng-if="showFlightResults==true" class="flightResult row">
		<div
			ng-repeat="flightItineraries in flight.itineraries track by $index"
			class="col-lg-6">
			<div class="connectionFlight">



				<!-------------------------->
				<!-- ACCORDION -->
				<!-------------------------->
				<div class="accordion card">

					<div class="card-header collapsed" data-toggle="collapse"
						data-parent="#accordion"
						href="#collapse{{$parent.$index}}-{{$index}}">
						<a class="card-title">

							<!-------------------------->
							<!-- Origin to Destination -->
							<!-------------------------->
							<div class="row">
								<p class="col-3 vertical-align">
									<img
										ng-src="http://pics.avs.io/100/30/{{flightItineraries.outbound.flights[0].operating_airline}}.png" />
								</p>


								<p class="col-4">
									<i class="fa fa-plane" aria-hidden="true"></i> <strong>{{flightItineraries.outbound.flights[0].origin.airport}}
									</strong><span>{{splitHour(flightItineraries.outbound.flights[0].departs_at)}}</span>
									<i class="fa fa-long-arrow-right" aria-hidden="true"></i> <strong>
										{{flightItineraries.outbound.flights[1].destination.airport}}</strong><span>
										{{splitHour(flightItineraries.outbound.flights[1].arrives_at)}}</span>
								</p>


								<p class="col-2 timeAndstops">
									<i class="fa fa-clock-o " aria-hidden="true"></i><strong>
										{{calcFlightTime('local',flightItineraries.outbound.flights[0].departs_at,flightItineraries.outbound.flights[1].arrives_at)}}</strong>
									</section>
									<br> <strong>{{flightItineraries.outbound.flights.length-1}}
										Stops</strong>
								</p>

							</div>

							<hr>


							<!-------------------------->
							<!-- Destination to Origin-->
							<!-------------------------->
							<div class="row">
								<p class="col-3 vertical-align">
									<img
										ng-src="http://pics.avs.io/100/30/{{flightItineraries.inbound.flights[0].operating_airline}}.png" />
								</p>


								<p class="col-4">
									<i class="fa fa-plane  fa-rotate-90" aria-hidden="true"></i> <strong>{{flightItineraries.inbound.flights[0].origin.airport}}</strong><span>
										{{splitHour(flightItineraries.inbound.flights[0].departs_at)}}</span>
									<i class="fa fa-long-arrow-right" aria-hidden="true"></i> <strong>
										{{flightItineraries.inbound.flights[1].destination.airport}}</strong><span>
										{{splitHour(flightItineraries.inbound.flights[1].arrives_at)}}</span>
								</p>


								<p class="col-2 timeAndstops">
									<i class="fa fa-clock-o " aria-hidden="true"></i><strong>
										{{calcFlightTime('destination',flightItineraries.inbound.flights[0].departs_at,flightItineraries.inbound.flights[1].arrives_at)}}</strong>
									</section>
									<br> <strong>{{flightItineraries.inbound.flights.length-1}}
										Stops</strong>
								</p>

								<p class="col-3 price">
									<strong>{{flight.fare.total_price + " " + coin}}</strong> <span>per
										1</span>
								</p>
								<button type="button" class="btn btn-info bookAFlight">Book
									Flight</button>
							</div>


							<p class="moreDetails">
								<strong>Details</strong> <i class="fa fa-chevron-down"
									aria-hidden="true"></i>
							</p>

						</a>
					</div>

					<!-- INSIDE ACCORDION -->
					<div id="collapse{{$parent.$index}}-{{$index}}"
						class="card-block collapse indiseAccordion">

						<div class="row"
							ng-repeat="flight in flightItineraries.outbound.flights">
							<p class="col-2 vertical-align">
								<img
									ng-src="http://pics.avs.io/100/30/{{flight.operating_airline}}.png" />

							</p>
							<p class="col-4">
								<i class="fa fa-plane" aria-hidden="true"></i> <strong>{{flight.origin.airport}}</strong><span>{{splitHour(flight.departs_at)}}</span>
								<i class="fa fa-long-arrow-right" aria-hidden="true"></i> <strong>{{flight.destination.airport}}</strong><span>{{splitHour(flight.arrives_at)}}</span>
							</p>
							<p class="col-6 flightMoreDetails">
								<span>Flight: <strong>{{flight.flight_number}}</strong></span> |
								<span>Seats Remaining: <strong>{{flight.booking_info.seats_remaining}}</strong>
								</span><br> <span>Class: <strong>{{flight.booking_info.travel_class}}</strong>
								</span> | <span>Terminal: <strong>{{flight.origin.terminal}}</strong></span>
							</p>

						</div>

						<p class="connectionTime">
							<i class="fa fa-clock-o " aria-hidden="true"></i>
							{{calcFlightTime('destination',flightItineraries.outbound.flights[0].arrives_at,flightItineraries.outbound.flights[1].departs_at)}}
							<br> Connection
						</p>
						<hr>
						<div class="row"
							ng-repeat="flight in flightItineraries.inbound.flights">
							<p class="col-2 vertical-align">
								<img
									ng-src="http://pics.avs.io/100/30/{{flight.operating_airline}}.png" />

							</p>
							<p class="col-4">
								<i class="fa fa-plane fa-rotate-90" aria-hidden="true"></i> <strong>{{flight.origin.airport}}</strong><span>{{splitHour(flight.departs_at)}}</span>
								<i class="fa fa-long-arrow-right" aria-hidden="true"></i> <strong>{{flight.destination.airport}}</strong><span>{{splitHour(flight.arrives_at)}}</span>
							</p>

							<p class="col-6 flightMoreDetails">
								<span>Flight: <strong>{{flight.flight_number}}</strong></span> |
								<span>Seats Remaining: <strong>{{flight.booking_info.seats_remaining}}</strong>
								</span><br> <span>Class: <strong>{{flight.booking_info.travel_class}}</strong>
								</span> | <span>Terminal: <strong>{{flight.origin.terminal}}</strong></span>
							</p>
						</div>

						<p class="connectionTime">
							<i class="fa fa-clock-o " aria-hidden="true"></i>
							{{calcFlightTime('destination',flightItineraries.inbound.flights[0].arrives_at,flightItineraries.inbound.flights[1].departs_at)}}
							<br> Connection
						</p>

					</div>
				</div>

			</div>
		</div>
	</div>