* {
	margin: 0;
	padding: 0;
}

.row {
	margin: 0px;
}

.form-control::-webkit-input-placeholder {
	color: #fff;
} /* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
	color: #fff;
} /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
	color: #fff;
} /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
	color: #fff;
} /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
	color: #fff;
} /* Microsoft Edge */
.form-control {
	background: transparent;
	color: #fff;
	border: 0px;
	outline: 0;
	width: 90%;
	float: left;
}

.fa-map-marker, .fa-usd, .fa-calendar {
	position: absolute;
	top: 25px;
	right: 0px;
}
.mainWrapper  .fa-users{
	position: absolute;
	top: 10px;    font-size: 20px;
	right: 0px;
}
.logo {
margin: 0 auto;    display: block;
}

p {
	margin-bottom: 0px;
}

.form-control:focus {
	color: #fff;
	background: transparent;
	border-color: transparent;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.wrapper {
	/* background: url(../images/1.jpeg) no-repeat; */
	background:#fff;
	height: 100%;
	background-size: cover;
	width: 100%;
	top: 0;
	position: fixed;
	left: 0;
	background-size: cover;
	overflow-y: scroll;
}

.mainInput {
	padding: 1% ;
	position: relative; margin: 0 auto;
	    background: rgba(204, 204, 204, 0.52);
    border-radius: 10px;
    margin-top: 3%;
}

.mainInput h1 {
	text-align: center;
	font-size: 2vw;
	margin: 3% auto;
	color: #fff;
}

md-content.md-default-theme, md-content{background-color:transparent;}
.mainInput h2 {
	width: 100%;
	text-align: center;
	color: #fff;
}

.depart, .budget, .passengers, .dates {
	background: rgba(0, 0, 0, 0.41);
	color: white;
	border: 0px;
	border-radius: 5px;
	margin: 0px auto 25px;
	padding: 5px 10px 0px;
	width: 100%;
}

.depart>label, .budget>label, .passengers>label, .dates>label {
	font-weight: lighter;
	text-indent: .75rem;
	font-size: 12px;
	color: white;
	width: 100%;
	position: relative;
}

.mainInput .budget, .mainInput .passengers {
	width: 49%;
	float: left; position: relative;
}

.mainInput .budget {
	margin-right: 2%;
}

.findATrip {
	width: 100%;
	cursor: pointer;
}

.flightResult {
	padding: 1%;
	float: left;
	margin: 1%;
	float: left; width:100%;
}

.connectionFlight {
    background: rgba(0, 0, 0, 0.92);
    padding: 5px;
    margin-bottom: 1%;
    border-bottom: 0px;
    border-radius: 10px;
}

.timeAndstops {
	text-align: center;
	color: rgb(253, 78, 78);
	font-size: 0.9vw;
}
.sortNav.show > .dropdown-menu{display:block;}
.price {
	font-size: 14px;
	position: absolute;
	right: 0;
	top: 40px;
	text-align: center;
}

.bookAFlight {
	position: absolute;
	right: 5%;
	top: 70px;
	cursor: pointer;
}

.vertical-align {
	display: flex;
	align-items: center;
}
..md-padding{padding:0px; position: relative;}
.card-title hr {
	width: 75%;
}

.moreDetails {
	float: right;
}

.connectionTime {
	position: absolute;
	right: 0;
	width: 100px;
	margin-top: -50px;
	text-align: center;
	color: rgb(253, 78, 78);
	font-size: 0.9vw;
}

.indiseAccordion {
	position: relative;
}

.card-header:not (.collapsed ) .moreDetails .fa-chevron-down:before {
	content: "\f077";
}

.flightMoreDetails {
	font-size: 11px;
}

.filterNav {
	display: inline-table;
	margin-top: 2%;
	text-align: center;
	width: 100%;
}

.btn-group>.btn-group {
	float: inherit;
}

.popover-content {
	padding: 6px 0px;
}

.popover-content .ngrs-value {
	display: block !important;
	margin-top: 3px;
}

.ngrs-range-slider .ngrs-attached-handles .ngrs-value>div {
	padding: 4px 0px;
	color: #000;
	text-align: center;
	background-color: rgba(132, 255, 69, 0.61);
	border-radius: 5px;
	margin: 0px -10%;
	font-weight: bold;
}

.formCurrency{
    width: 15% !important;
    float: left;
    position: absolute  !important;
    bottom: 6%;
    font-weight: bold;
    right: -15%;
    font-size: 1.5vw;
    }
    
    
.popover {
	width: 100%;    background-color: rgb(150, 218, 251);
	padding: 1px 10px; z-index: 1;
}

.countryInput {
	background: #4280ce;
	color: #000;
}

.fa-map-marker {
    z-index: 1;    position: absolute;
  left: 3%; width:10%;
    top: 24%;
}
.btn-secondary{cursor: pointer;position: relative;}
/*DROPDOWN*/
.btn-select {
    position: relative;
    padding: 0;
    min-width: 80px;
    width: 100%;text-align:center;
    border-radius: 0;
    margin-bottom: 20px;
}
.btn-primary{    background-color: transparent;
    border-color: transparent;}

.btn-select .btn-select-value {
    padding: 6px 12px;
    display: block;
    position: absolute;
    left: 0;
    right: 34px;
    text-align: left;
    text-overflow: ellipsis;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
}

.btn-select .btn-select-arrow {
    float: right;
    line-height: 20px;
    padding: 6px 10px;
    top: 0; color:#fff;
}

.btn-select ul {
    display: none;
    background-color: white;
    color: black;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: none !important;
    position: absolute;
    left: -1px;
    right: -1px;
    top: 33px;
    z-index: 999;
        min-width: 69px;
    border: 1px solid #E9EFF4;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,0.11);
    border-radius: 0px;
}

.btn-select ul li {
    padding: 3px 6px;
    text-align: center; cursor: pointer;
}

.btn-select ul li:hover {
    background-color: #4280ce;
}

.btn-select ul li.selected {
    color: white;
}

/* Default Start */
.btn-select.btn-default:hover, .btn-select.btn-default:active, .btn-select.btn-default.active {
    border-color: #ccc;
}

.btn-select.btn-default ul li.selected {
    background-color: #ccc;
}

.btn-select.btn-default ul, .btn-select.btn-default .btn-select-value {
    background-color: white;
    border: #ccc 1px solid;
}

.btn-select.btn-default:hover, .btn-select.btn-default.active {
    background-color: #e6e6e6;
}
/* Default End */

/* Primary Start */
.btn-select.btn-primary:hover, .btn-select.btn-primary:active, .btn-select.btn-primary.active {
    border-color: transparent;
}

.btn-select.btn-primary ul li.selected {
    background-color: #2e6da4;
    color: white;
}

.btn-select.btn-primary ul {
    border: #2e6da4 1px solid;
}

.btn-select.btn-primary .btn-select-value {
    background-color:transparent;
    border:none;
}

.btn-select.btn-primary:hover, .btn-select.btn-primary.active {
    background-color: #286090;
}
/* Primary End */

/* Success Start */
.btn-select.btn-success:hover, .btn-select.btn-success:active, .btn-select.btn-success.active {
    border-color: #4cae4c;
}

.btn-select.btn-success ul li.selected {
    background-color: #4cae4c;
    color: white;
}

.btn-select.btn-success ul {
    border: #4cae4c 1px solid;
}

.btn-select.btn-success .btn-select-value {
    background-color: #5cb85c;
    border: #4cae4c 1px solid;
}

.btn-select.btn-success:hover, .btn-select.btn-success.active {
    background-color: #449d44;
}
/* Success End */

/* info Start */
.btn-select.btn-info:hover, .btn-select.btn-info:active, .btn-select.btn-info.active {
    border-color: #46b8da;
}

.btn-select.btn-info ul li.selected {
    background-color: #46b8da;
    color: white;
}

.btn-select.btn-info ul {
    border: #46b8da 1px solid;
}

.btn-select.btn-info .btn-select-value {
    background-color: #5bc0de;
    border: #46b8da 1px solid;
}

.btn-select.btn-info:hover, .btn-select.btn-info.active {
    background-color: #269abc;
}
/* info End */

/* warning Start */
.btn-select.btn-warning:hover, .btn-select.btn-warning:active, .btn-select.btn-warning.active {
    border-color: #eea236;
}

.btn-select.btn-warning ul li.selected {
    background-color: #eea236;
    color: white;
}

.btn-select.btn-warning ul {
    border: #eea236 1px solid;
}

.btn-select.btn-warning .btn-select-value {
    background-color: #f0ad4e;
    border: #eea236 1px solid;
}

.btn-select.btn-warning:hover, .btn-select.btn-warning.active {
    background-color: #d58512;
}
/* warning End */

/* danger Start */
.btn-select.btn-danger:hover, .btn-select.btn-danger:active, .btn-select.btn-danger.active {
    border-color: #d43f3a;
}

.btn-select.btn-danger ul li.selected {
    background-color: #d43f3a;
    color: white;
}

.btn-select.btn-danger ul {
    border: #d43f3a 1px solid;
}

.btn-select.btn-danger .btn-select-value {
    background-color: #d9534f;
    border: #d43f3a 1px solid;
}

.btn-select.btn-danger:hover, .btn-select.btn-danger.active {
    background-color: #c9302c;
}
/* danger End */

.btn-select.btn-select-light .btn-select-value {
    background-color: white;
    color: #fff; text-align: center;
}

.personsPopover .row{height:50px; position: relative;}
.personsPopover .row p {    line-height: 50px;}
.col-xs-6.col-sm-3{    top: 15%;
	    position: absolute;
    right: 15%;
}
.hide{display:none}
md-autocomplete input:not(.md-input){padding:0px 30px;}
.passengers .btn-secondary{    margin-top: -9px;border-color:transparent; background:transparent;color:#fff;width:100%; cursor: pointer;}
.passengers .btn-secondary:hover{border-color:transparent;}
.passengersSum:focus{    border: transparent;box-shadow:none;
    outline: 0;}

/*navbar*/
.navbar .logo{width:15%;
    float: left;}
.navbar  .navbar-nav{ float:right;}
.dropdownCurrency .btn-select{width:100px; cursor:pointer;   margin-bottom: 0px;}
 .dropdownCurrency{   margin-top: 3px;
}
.btn-select.btn-select-light .btn-select-value, .btn-select.btn-primary:hover, .btn-select.btn-primary.active{background-color: transparent !important;}
.bg-light{background-color:#484545!important}
.nav-item.nav-link{font-weight: bold;
    color: #fff !important;}
    
    
/*CAROUSEL*/
.carousel{    position: absolute;}